<div ng-controller="searchCtrl" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form  ng-submit="submit()"  role="form">
        <div class="form-group">

          <label for="search">
            Seperate ingredents with comma
          </label>
          <input type="text" ng-model='text' name='text' class="form-control" id="search" />
        </div>
        <div ng-submit="" class="form-group">

        <button type="submit" id="submit"  value ="Submit"class="btn btn-default">
          Submit
        </button>
      </form>
      
      <reciepes reciepes='Search.reciepes'></reciepes>
    </div>
  </div>
</div>
