<div class="media">
  <a href={{$ctrl.recipe.f2f_url}} class="pull-left" target="_blank">
    <img  ng-src={{$ctrl.recipe.image_url}} class="media-object" height="100" width="100" />
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      {{$ctrl.recipe.title}}
      
    </h4>

  <button type="button"  ng-click='$ctrl.favorite($ctrl.recipe)' class="btn btn-success">Favorite</button>
  <button type="button" ng-click='$ctrl.triedit($ctrl.recipe)' class="btn btn-info">Tried It</button>
  <button type="button" ng-click='$ctrl.nolike($ctrl.recipe)' class="btn btn-info">I don't like it</button>
  

  </div>
</div>