<div class="media">
  <a href="#" class="pull-left">
    <img alt="Bootstrap Media Another Preview" src="http://lorempixel.com/64/64/" class="media-object" />
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      reciepe name
    </h4>
    food
    <!-- <button type="submit" id="submit" value="Submit" class="btn btn-default">
     favorite
    </button>
    <button type="submit" id="submit" value="Submit" class="btn btn-default">
      tried it
    </button> -->

  </div>
</div>